body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:755px;
}
#u59 {
  position:absolute;
  left:0px;
  top:-64px;
  width:375px;
  height:755px;
}
#u60 {
  position:absolute;
  left:2px;
  top:370px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:fixed;
  left:50%;
  margin-left:-151px;
  top:50%;
  margin-top:-88.5px;
  visibility:hidden;
}
#u61_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u61_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:177px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:177px;
}
#u63 {
  position:absolute;
  left:2px;
  top:80px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:52px;
  top:95px;
  width:200px;
  height:64px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u65 {
  position:fixed;
  left:50%;
  margin-left:-151px;
  top:50%;
  margin-top:-84.5px;
  visibility:hidden;
}
#u65_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u65_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:169px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:169px;
}
#u67 {
  position:absolute;
  left:2px;
  top:76px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:53px;
  top:87px;
  width:197px;
  height:62px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u65_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u65_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:169px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:169px;
}
#u70 {
  position:absolute;
  left:2px;
  top:76px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:53px;
  top:90px;
  width:197px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u72 {
  position:absolute;
  left:248px;
  top:201px;
  width:89px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u73 {
  position:absolute;
  left:248px;
  top:292px;
  width:89px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u74 {
  position:absolute;
  left:245px;
  top:198px;
  visibility:hidden;
}
#u74_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u74_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:49px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:49px;
}
#u76 {
  position:absolute;
  left:2px;
  top:16px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
